{% extends 'myblog/base.html' %}
{% block content %}


<h1 >Post</h1>

<ul>
{% for post in object_list %}
    <li>
   <a href="{% url 'myblog:post_detail' post.pk %}"> {{post.title}}</a> ||
    {{post.author}} || Category: <a href="{% url 'myblog:category_list' post.category|slugify %}">{{post.category}}</a>  {{post.author.email}}  {{ post.post_date}}<br>
   {{ post.snippet }} </li>

    {% if user == post.author %}
    <a href="{% url 'myblog:delete_post' post.pk  %}" class="btn btn-danger">delete</a>
    <a href="{% url 'myblog:update_post' post.pk  %}" class="btn btn-primary">update</a>
    {% else%}
    <a title="hello" href="{% url 'myblog:delete_post' post.pk  %}" class="btn btn-danger" style="pointer-events: none; opacity:0.5">delete</a>
    <a title="hello" href="{% url 'myblog:update_post' post.pk  %}" class="btn btn-primary"  style="pointer-events: none; opacity:0.5">update</a>
    {% endif %}
{% endfor %}

    </ul>
<p></p>
{% endblock %}