{% extends 'myblog/base.html' %}
{% block title %} Profile Updating {% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<h1>Profile Page</h1>
<h2>{{user_profile}}</h2>

<div class="col-md-6 mb-4">
<img class="rounded-circle z-depth-2" src="{{user_profile.image.url}}" ><br>
</div>

<div class="template-demo">
    {% if user_profile.fb_url %}
    <a target="_blank" href="{{user_profile.fb_url}}">
        <button type="button" class="btn btn-social-icon btn-outline-facebook"><i class="fa fa-facebook"></i></button>
    </a>
    {% endif %}
    {% if user_profile.twitter_url %}
    <a target="_blank" href="{{user_profile.twitter_url}}">
        <button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></button>
    </a>
    {% endif %}
    {% if user_profile.instagram_url %}
    <a target="_blank" href="{{user_profile.instagram_url}}">
        <button type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram"></i></button>
    </a>
    {% endif %}
</div>

<p> {{user_profile.user.email}}</p>
<p>{{user_profile.user.first_name}}</p>
<p>{{user_profile.user.last_name}}</p>

<br><br>


{% if  user.username == user_profile.user.username %}
<a class="btn btn-secondary" href="{% url 'profile_update' %}">Update Profile</a>
{% endif %}
<br>
<br>
<br>
<br>
<br>


{% endblock %}